body {
  margin: 0;
}

h1 {
  margin-top: 0;
  font-family: 'Merriweather', sans-serif;
  color: #1b262c
}

h2 {
  font-family: 'Sacramento', sans-serif;
  color: #1b262c
}

h3 {
  font-family: 'Sacramento', sans-serif;
  color: #1b262c
}

table {
  table-layout: auto
}

button {
background-color: orange;
}

a {
  text-decoration: none;
}

.body-2 {
background-color: antiquewhite;
}
.body {
  text-align: center;
  font-family: 'Short Stack', cursive;
}

.top-container {
  padding-top: 100px;
  background-color: #7fdbda;
  position: relative;
}

.middle-container {}

.bottom-container {
   background-color: #0f4c75;
   font-size: 18px;
   height: 100px;
   padding: 50px 0 20px
}

.copywrite {
  padding-top: 20px;
  font-size: 15px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.Video-games {
  display: inline-block;
}

.p {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.Fortnite-img {
   margin-top: 30px;
   float: left;
   margin-right: 30px;
}

.code-img {
   float: left;
   margin-right: 30px;
}

.link {
   color: white;
   padding-top: 20px;
}

.link:hover {
   color: #11999E;
}

.btn {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #2bb834);
  background-image: -moz-linear-gradient(top, #d93434, #2bb834);
  background-image: -ms-linear-gradient(top, #d93434, #2bb834);
  background-image: -o-linear-gradient(top, #d93434, #2bb834);
  background-image: linear-gradient(to bottom, #d93434, #2bb834);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Sacramento', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #ffea00);
  background-image: -moz-linear-gradient(top, #3cb0fd, #ffea00);
  background-image: -ms-linear-gradient(top, #3cb0fd, #ffea00);
  background-image: -o-linear-gradient(top, #3cb0fd, #ffea00);
  background-image: linear-gradient(to bottom, #3cb0fd, #ffea00);
  text-decoration: none;
}

.button
